<div class="card">
    <div *ngFor="let article of articles">
      <div class="card-body">
        <div></div>
        <h5 class="card-title">{{ article.Name }}</h5>
        <img src="{{ article['Closet Image'] }}">
        <p class="card-text">{{ article['Seasonal Availability'] }}</p>
        <p class="card-text">{{ article.Buy }} $$</p>
        <input type="number" [formControl]="article.quantityControl" min="0" max="200">
        <button (click)="addToCard(article, article.quantityControl)">Ajouter au panier</button>
      </div>
    </div>
  </div>
  